body{
 margin: 0;
}

.bg{
background-position:center;
background-size: cover;
background-attachment: fixed;
}

.bg-image1{
 height: 100vh;
 background-image: url("mnzr1.jpg");
}

.bg-image2{
 height: 50vh;
 background-image: url("mnzr2.jpg");
}

.box{
color: #777;
background-color: #fff;
text-align: center;
padding: 50px 80px;
}

.caption{
 position: absolute;
 left: 0;
 top: 50%;
 width: 100%;
 text-align: center;
}

.caption .border{
 background-color: #111;
 color: #fff;
 padding: 20px;
 text-transform: uppercase;
 letter-spacing: 10px;
}